/*Body attributes*/
body {
	font-family: Montserrat, sans-serif;
	background-color: #FFE4B0;
	color: #5D4037;
}

/*
Light Blue: #B3E5FC
Orange: #f4511e;
*/

/*Junco logo*/
.img-logo {
	max-width: 10em;
	max-height: 10em;
}

/*Container fluid padding*/
.container-fluid {
	padding: 60px 50px;
}

.container-adjusted {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 20px;
}

.container-eighty {
	width: 80%;
	margin: auto;
	background-color: inherit;
	color: inherit;
}

/*Header of page, set color and padding*/
.header {
	background-color:inherit; 
	color:inherit;
	padding: 40px;
}

/*Navbar*/
.nav-justified {
  background-color: transparent;
}
.nav-justified > li > a {
  font-weight: bold;
  color: inherit;
  text-align: center;
  background-color: white;
  border: 2px solid #29ABE2;
}
.nav-justified > li > a:hover,
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #29ABE2;
  color: white;
}

.thumbnail {
	padding: 0px;
	border: none;
	border-radius: 0px;
}
.thumbnail img{
	width: 100%;
	height: 100%;
}

/*Main carousel container, with white border, 80% size*/
.container-carousel {
	border: 7px solid white;
	padding: 0px;
	width: 80%;
	margin: auto;
}
/*Items within carousel, 100% width, auto margins*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
/*Left and right carousel controls, clear background*/
.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #29ABE2;
}
/*Carousel indicators, set border color*/
.carousel-indicators li {
	border-color: #29ABE2;
}
/*Active carousel indicator,  set background color*/
.carousel-indicators li.active {
	background-color: #29ABE2;
}

.item span {
	font-style: normal;
}

.border-img {
	border: 7px solid white;
	padding: 0px;
	background-color: transparent;
	border-radius: 0px;
}

.noborder-img {
	border: 0px;
	padding: 0px;
	background-color: transparent;
	border-radius: 0px;
}

/*Specific glypicons used, set color properties*/
.glyphicon-heart {
	color: #F44336;
}
.glyphicon-chevron-up {
	color: #ffffff;
}

.group-image {
	padding: 0px;
	width: 80%;
	margin: auto;
}

footer {
	background-color: #757575;
	color: #ffffff;
}

textarea,
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: vertical;
}

textarea:focus, input[type=text]:focus {
    border: 3px solid #555;
}

.order {
  padding: 10px;
  margin: 0px;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  text-align: center;
  background-color: white;
  border: 3px solid #29ABE2;
}

/*Slide Anim*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0px;
	}
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    margin: 0px 4px 0px 4px;
  }
  .nav-justified > li:first-child > a {
    margin: 0px 8px 0px 0px;
  }
  .nav-justified > li:last-child > a {
    margin: 0px 0px 0px 8px;
  }
}

/*Social Media Foot Icons
http://codepen.io/Deadlymuffin/pen/hGiqo/*/
a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #ffffff;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px 7px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #inherit;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-instagram {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #inherit;
}

.fa-instagram:hover {
  background-color: #0073a4;
}

.fa-twitter {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #inherit;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-google-plus {
  padding: 10px 10px 7px 10px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #inherit;
}

.fa-google-plus:hover {
  background-color: #e25714;
}